# Python
__pycache__/
*.py[cod]
*$py.class
*.log

# Node / JS
node_modules/
bun.lockb

# Local environment & secrets
.env
tokens.json

# Staging & build output
/staging_patch/
/steam_version_patch_vn/extracted_assets/
/steam_version_patch_vn/KrkrExtract_Output/
/steam_version_patch_vn/Data_Decompile/
/test_staging/
/scratch/
/scratch_game/
/extracted_assets/
/gemini-proxy/
/tjs2_decompiler_crate/
test-sdk.ts
/MaitetsuLastRunSteam/
/mobile_patch/
/krkr2_next/
/compiled_scn/

# Large binary distributions & Archives
*.rar
*.zip
*.7z
*.xp3
# Game assets and patches
mobile_patch/
steam_version_patch_vn/
*.xp3
krkr2_temp/
extracted_assets/
tools/KirikiriTools/
tools/Xenos_2.3.2/
tools/__pycache__/
tools/legacy_tools/
tools/scripts/
